<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>caroussel</title>
  <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <div class="flex-container medium-height">
    <div class="absolute">
      <img src="../../src/home/pres.jpg" />
    </div>
    <div style="z-index: 1;">
      <h1 class="white">Vous cherchez la pièce rare introuvable ? <br />Vous souhaitez réparer l'existant ou créer une
        piece unique...
      </h1>
      <center><button class="button">Découvrir</button></center>
    </div>
  </div>
</body>

</html>