<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>event</title>
  <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <div class="flex-container tiny-height grey padding">
    <div  style="flex-grow: 1">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h3>
    </div>
    <div  style="flex-grow: 1">
      <button class="button">En savoir plus</button>
    </div>
  </div>
</body>

</html> 