.flex-footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #0C0E0E;
    box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
	-webkit-box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
	-moz-box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ;
  }

  .flex-footer > div {
    width: 100px;
    text-align: left;
    margin: 10px;
    padding: 20px;
  }
  .flex-footer > div > h3{
      color:#6b6b3d;
  }
  .flex-footer > div > p{
      color:#9FAFB4;
  }

  .follow{
    text-align: right;
  }