<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>presse</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
    <div class="flex-container">
        <div class="padding" style="flex-grow: 1">
            <h2>Faucibus sed neque, amet, ipsum habitasse.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="wrap">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
        </div>
        <div style="flex-grow: 1">
            <img src="../../src/home/presse.jpg" />
            <h3 class="small-padding">Sed ut perspiciatis unde omnis</h3>
            <p class="small-padding">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
        </div>
    </div>
</body>

</html>