<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonShape - Ducati</title>
    <link rel="stylesheet" href="../components/nav/nav.css" type="text/css">
    <link rel="stylesheet" href="../components/footer/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/global.css" type="text/css">
</head>

<body>
    <!--nav-->
    <div class="flex-nav wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
        <div style="flex-grow: 8">
          <img class="logo-width" src="../src/nav/logo.svg" />
        </div>
        <div style="flex-grow: 1">
          <h3 class="green">Contact</h3>
          <p>François Carrère</p>
          <p>06 70 02 53 41</p>
          <p><a style="color:#5e6466" href="mailto:carbonshape666@gmail.com">carbonshape666@gmail.com</a></p>
        </div>
      </div>
      <ul style="z-index: 2;" class="topnav navdisplay wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
        <li class="cl-effect-4"><a href="./presseDetails.html">Le carbone</a></li>
        <li class="cl-effect-4"><a href="./projets.html">Réalisations</a></li>
        <li class="cl-effect-4"><a href="./propos.html">A propos</a></li>
        <li class="cl-effect-4"><a  href="../index.html">Accueil</a></li>
      </ul>

      <div class="device hidden">
        <div class="container">
          <button id="burger" class="open-main-nav">
            <span class="burger"></span>
          </button>
          <nav class="main-nav" id="main-nav">
            <ul>
              <li><a href="./presseDetails.html">Le carbone</a></li>
              <li><a href="./projets.html">Réalisations</a></li>
              <li><a href="./propos.html">A propos</a></li>
              <li><a href="../index.html">Accueil</a></li>
            </ul>
          </nav>
        </div>
      </div>

 

    <!--photo_01-->
    <div class="flex-container">
        <div class="fullsize">
            <img class="zoom" src="../src/home/712prhfhxoL._AC_SL1200_.jpg" />
        </div>
    </div>
    <!--photo_01-->
    <!--introduction-->
    <div class="left vertical">
        <div class="padding">
            <h1 class="green">Le carbone c'est quoi ? Ça vient d'où ?</h1>
        </div>
    </div>
    <!--introduction-->
    <!--article-->
    <div class="left vertical">
        <div class="padding">
            <p>Tout d'abord le carbone c'est une fibre très fine de 5 à 7/10 ièmes de micromètre obtenue par carbonisation de la fibre Pan ( Polyacrylonitrile )
                Ses qualités techniques et mécaniques actuelle intéresseront d'abord l'industrie aéronautique et spatiale puis ensuite les sports mécaniques comme l'automobile.
                <br><br>Avec sa célèbre citation comme « Light is right», Colin Chapman fondateur de Lotus fut un des premiers à introduire les composites dans ses véhicules
                Les premières utilisations concrètes du carbone ainsi que la découverte de cette nouvelle fibre technique n'étaient pas au départ destinées aux sports mécaniques.
                On pourra citer par exemple Thomas Edison qui l'utilisait pour ses premiers filaments de lampe à incandescence pour l'éclairage au 19ieme siecle.
                <br><br>Aujourd'hui, cette fibre, une fois sortie des fours de pyrolyse (2000°C sous atmosphere) est ensuite organisée en fil de 2000 a 45000 brins.
                Ce fil obtenu est enfin organisé et tissée pour en faire un tissus .(Satin, taffetas, sergé,,...)
                C'est le carbone que la majorité d'entre nous connaît et voit au travers de la résine dans les pièces dites en « carbone » 
                Les puristes diront plutôt pièces en « composite de carbone » !!!
                En effet dans cet état de tissus : le carbone n'a aucune résistance (hormis une résistance a l'allongement )
                <br><br>
                C'est donc le mariage de ce tissus avec une autre matière qui révélera toutes ses qualités.
                Nous en arrivons  la notion essentielle de ce que l'on appelle les matériaux composites.
                Pour bien comprendre et cela avec une note d'humour :
                La purée mousseline est un composite ! Mais non me direz vous !? Hahaha !!
                <br><br>
                Ce sont deux matériaux différents, (les flocons et l'eau) qui mélangés l'un a l'autre ,additionnent leurs qualités pour en faire un troisième au nouvelles propriétés !
                Certains se rappelleront dans leur pire souvenirs que l'on peut faire de la purée façon"soupe" ou bien du "béton lafarge" !
                Nous venons ici de définir les composites !
                Le carbone, seul, n'a donc que peu d'intérêt.
                Il n'est utilisé qu'en association avec d'autres matériaux pour concevoir des produits finis aux propriétés multiples et différentes.
                Chacun des deux matériaux amenant ses propres caractéristiques en fonctions des exigences et contraintes de la pièce à réaliser 
                Le tissus carbone est donc un renfort  associé aux plastiques et aux résines entre autres pour concevoir des produits très techniques.
                
            </p>
        </div>
    </div>
    <!--article-->

    <!--footer-->
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <img class="logo-width" src="../src/footer/logo.svg" />
        </div>
        <div style="flex-grow: 1">
            <h3 class="green">Contact</h3>
            <p>François Carrère</p>
            <p>06 70 02 53 41</p>
            <p>carbonshape666@gmail.com</p>
          </div>
    </div>
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <p>© carbonshape 2020</p>
        </div>
        <div style="flex-grow: 2">
            <p class="follow">Suivez carbonshape sur :</p>
        </div>
        <div style="flex-grow: 1">
            <a href="https://www.facebook.com/carbonshape/about/?ref=page_internal"><img style="margin-right: 10px;"src="../src/footer/facebook.png" /></a>
            <a href="https://www.instagram.com/carbonshape666/?hl=fr"><img style="margin-right: 10px;" src="../src/footer/instagram.png" /></a>
          </div>
    </div>
    <!--footer-->
    <script>
        let burger = document.getElementById('burger'),
          nav = document.getElementById('main-nav'),
          slowmo = document.getElementById('slowmo');
    
        burger.addEventListener('click', function (e) {
          this.classList.toggle('is-open');
          nav.classList.toggle('is-open');
        });
    
        slowmo.addEventListener('click', function (e) {
          this.classList.toggle('is-slowmo');
        });
    
        /* Onload demo - dirty timeout */
        let clickEvent = new Event('click');
    
        window.addEventListener('load', function (e) {
          slowmo.dispatchEvent(clickEvent);
          burger.dispatchEvent(clickEvent);
    
          setTimeout(function () {
            burger.dispatchEvent(clickEvent);
    
            setTimeout(function () {
              slowmo.dispatchEvent(clickEvent);
            }, 3500);
          }, 5500);
        });
      </script>
</body>

</html>