<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonShape - A propos</title>
    <link rel="stylesheet" href="../components/nav/nav.css" type="text/css">
    <link rel="stylesheet" href="../components/footer/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/global.css" type="text/css">
</head>

<body>
    <!--nav-->
    <div class="flex-nav wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
        <div style="flex-grow: 8">
          <img class="logo-width" src="../src/nav/logo.svg" />
        </div>
        <div style="flex-grow: 1">
          <h3 class="green">Contact</h3>
          <p>François Carrère</p>
          <p>06 70 02 53 41</p>
          <p><a style="color:#5e6466" href="mailto:carbonshape666@gmail.com">carbonshape666@gmail.com</a></p>
        </div>
      </div>
      <ul style="z-index: 2;" class="topnav navdisplay wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
        <li class="cl-effect-4"><a href="./presseDetails.html">Le carbone</a></li>
        <li class="cl-effect-4"><a href="./projets.html">Réalisations</a></li>
        <li class="cl-effect-4"><a href="./propos.html">A propos</a></li>
        <li class="cl-effect-4"><a  href="../index.html">Accueil</a></li>
      </ul>

      <div class="device hidden">
        <div class="container">
          <button id="burger" class="open-main-nav">
            <span class="burger"></span>
          </button>
          <nav class="main-nav" id="main-nav">
            <ul>
              <li><a href="./presseDetails.html">Le carbone</a></li>
              <li><a href="./projets.html">Réalisations</a></li>
              <li><a href="./propos.html">A propos</a></li>
              <li><a href="../index.html">Accueil</a></li>
            </ul>
          </nav>
        </div>
      </div>

    <!--photo_01-->
    <div class="flex-container">
        <div class="fullsize">
            <img class="zoom" src="../src/presse01.jpg" />
        </div>
    </div>
    <!--photo_01-->
    <!--introduction-->
    <div class="left vertical">
        <div class="padding">
            <h1 class="green">CARBON SHAPE ADELAIDE COMPOSITES</h1>
            <h2>Un peu plus sur moi, je vous délivre ici l’historique de mon parcours professionnel ainsi que celui de
                la création de CARBON SHAPE.
            </h2>
        </div>
    </div>
    <!--introduction-->
    <!--article-->
    <div class="left vertical">
        <div style="color:white" class="padding">
            <p> Après 20 année employé comme orthoprothésiste, j'ai pris le pari d'un virage osé : je voulais inclure ma
                passion pour les belles mécaniques à la haute technologie que je connaissais pour la fabrication des
                protheses, et celle des métiers manuels et l’artisanat que j’ai toujours pratiqué.</p>
            <p> L'idée était là : l'utilisation de la technologie 3D des résines et de leurs fibres de renfort allaient
                constituer la passerelle entre ces deux mondes.
                Deux mondes différents mais aux compétences communes.</p>
            <p> Très manuel, à l'aise avec toutes les machines, et avec des connaissances bien ancrées sur les procédés
                de transformation des matériaux ainsi que leurs résistances : j'intégrais une entreprise spécialisée en
                stratification de matériaux composites notamment dans l'automobile de compétition et l'aéronautique.
                Au cours de ces deux ans, j'ai pu finir de me former à toutes les techniques de stratification et
                apprendre le métier de Mouliste et tourneur fraiseur sur fraiseuse numérique 4 axes.</p>
            <p> Mon projet ne cessa de s'affiner.
                Il me manquait un coté dessin industriel pour achever le tableau, ce que je fis avec l'étude et
                l'apprentissage du logiciel CATIA de DASSAULT système (logiciel le plus utilisé mondialement dans les
                industries automobiles et aéronautique)
                Après obtention du diplôme j'intégrais un sous-traitant de RENAULT comme dessinateur projeteur en
                architecture moteur.
                Tout au long de ma carrière j'empilais donc les compétences pour arriver à mon projet d'entreprise.</p>
            <p>Petit à petit, j'ai fabriqué quelques pièces pour des amis dans le garage de ma maison, puis dans un
                atelier afin d'arriver aujourd'hui et être une entreprise.
                Aujourd’hui je dirige Carbon Shape, une société de prototypage et de création de pièces en matériaux
                composites et plus spécialement en carbone.
                L’ensemble des services qu’elle propose, que ce soit aux entreprises ou aux particuliers tends à
                faciliter l’accès au prototypage rapide et à des services de haute technologie comme l’impression 3D…
                Très curieux :Carbon Shape vous accompagnera dans le but de réaliser tous vos projets dans des domaines
                aussi variés que possible : Auto, moto, déco, bateau, modélisme, bijouterie, mode …
            </p>
        </div>
    </div>
    <!--article-->

    <!--footer-->
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <img class="logo-width" src="../src/footer/logo.svg" />
        </div>
        <div style="flex-grow: 1">
            <h3 class="green">Contact</h3>
            <p>François Carrère</p>
            <p>06 70 02 53 41</p>
            <p>carbonshape666@gmail.com</p>
          </div>
    </div>
    <div class="flex-footer">
        <div style="flex-grow: 8">
            <p>© carbonshape 2020</p>
        </div>
        <div style="flex-grow: 2">
            <p class="follow">Suivez carbonshape sur :</p>
        </div>
        <div style="flex-grow: 1">
            <a href="https://www.facebook.com/carbonshape/about/?ref=page_internal"><img style="margin-right: 10px;"src="../src/footer/facebook.png" /></a>
            <a href="https://www.instagram.com/carbonshape666/?hl=fr"><img style="margin-right: 10px;" src="../src/footer/instagram.png" /></a>
          </div>
    </div>
    <!--footer-->
    <script>
        let burger = document.getElementById('burger'),
          nav = document.getElementById('main-nav'),
          slowmo = document.getElementById('slowmo');
    
        burger.addEventListener('click', function (e) {
          this.classList.toggle('is-open');
          nav.classList.toggle('is-open');
        });
    
        slowmo.addEventListener('click', function (e) {
          this.classList.toggle('is-slowmo');
        });
    
        /* Onload demo - dirty timeout */
        let clickEvent = new Event('click');
    
        window.addEventListener('load', function (e) {
          slowmo.dispatchEvent(clickEvent);
          burger.dispatchEvent(clickEvent);
    
          setTimeout(function () {
            burger.dispatchEvent(clickEvent);
    
            setTimeout(function () {
              slowmo.dispatchEvent(clickEvent);
            }, 3500);
          }, 5500);
        });
      </script>
</body>

</html>