<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>multicolumn</title>
  <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <div class="flex-container tiny-height center">
    <div>
      <h2 class="padding">Sollicitudin sed aliquet tristique id enim habitant bibendum amet.</h2>
    </div>
  </div>
  <div class="flex-container">
    <div class="padding center" style="flex-grow: 1">
      <img class="small-width" src="../../src/home/Capture.JPG" />
      <h3>TECHNOLOGIE AVANCEE</h3>
      <p>Développé avec une vaste expérience et expertise de l'industrie des composites, nous fabriquons une large gamme
        d'outils et de matériaux préimprégnés, adaptés à une variété d'applications et de secteurs du marché mondial.
      </p>
    </div>
    <div class="padding center" style="flex-grow: 1">
      <img class="small-width" src="../../src/home/Capture2.JPG" />
      <h3>SERVICE FLEXIBLE</h3>
      <p>Le service que vous recevez est un élément fondamental de votre expérience client. C'est pourquoi nous offrons
        une flexibilité et un support technique inégalés de notre équipe d'experts en composites.</p>
    </div>
    <div class="padding center" style="flex-grow: 1">
      <img class="small-width" src="../../src/home/Capture3.JPG" />
      <h3>RECHERCHE et DEVELOPPEMENT</h3>
      <p>Disposant d'un centre technique dédié pour faciliter le développement de produits nouveaux et innovants, notre
        équipe travaille en étroite collaboration avec nos clients pour vous assurer d'avoir les matériaux optimaux pour
        vos besoins.</p>
    </div>
  </div>
</body>

</html>