<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarbonShape - Voxan Black Magic</title>
  <link rel="stylesheet" href="../../components/nav/nav.css" type="text/css">
  <link rel="stylesheet" href="../../components/footer/footer.css" type="text/css">
  <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <!--nav-->
  <div class="flex-nav wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
    <div style="flex-grow: 8">
      <img class="logo-width" src="../../src/nav/logo.svg" />
    </div>
    <div style="flex-grow: 1">
      <h3 class="green">Contact</h3>
      <p>François Carrère</p>
      <p>06 70 02 53 41</p>
      <p><a style="color:#5e6466" href="mailto:carbonshape666@gmail.com">carbonshape666@gmail.com</a></p>
    </div>
  </div>
  <ul style="z-index: 2;" class="topnav navdisplay wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
    <li class="cl-effect-4"><a href="../../templates/presseDetails.html">Le carbone</a></li>
    <li class="cl-effect-4"><a href="../../templates/projets.html">Réalisations</a></li>
    <li class="cl-effect-4"><a href="../../templates/propos.html">A propos</a></li>
    <li class="cl-effect-4"><a href="../../index.html">Accueil</a></li>
  </ul>

  <div class="device hidden">
    <div class="container">
      <button id="burger" class="open-main-nav">
        <span class="burger"></span>
      </button>
      <nav class="main-nav" id="main-nav">
        <ul>
          <li><a href="../../templates/presseDetails.html">Le carbone</a></li>
          <li><a href="../../templates/projets.html">Réalisations</a></li>
          <li><a href="../../templates/propos.html">A propos</a></li>
          <li><a href="../../index.html">Accueil</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!--couverture-->
  <div class="flex-container">
    <div class="fullsize">
      <img class="zoom" src="../../src/projets/02/projet2.jpg" />
    </div>
  </div>
  <!--couverture-->
  <!--introduction-->
  <div class="flex-container vertical small-height">
    <h1 class="small-padding center green">Voxan - Black Magic</h1>
    <h2 class="small-padding center">Pour le Voxan Club de France</h2>
  </div>
  <!--introduction-->


  <div class="flex-container">
    <div class="padding fullsize">
      <h3 class="green">Sed ut perspiciatis</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      <h3 class="green">Lorem ipsum dolor</h3>
      <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h3 class="green">Nemo enim ipsam</h3>
      <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
      </p>
    </div>
    <div class="fullsize">
      <img src="../../src/projets/02/05.jpg" />
    </div>
  </div>

  <!--mono-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/02/03.jpg" />
    </div>
  </div>
  <!--mono-->

  <!--duo-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/02/02.jpg" />
    </div>
    <div class="fullsize">
      <img src="../../src/projets/02/04.jpg" />
    </div>
  </div>
  <!--duo-->

  <!--mono-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/02/01.jpg" />
    </div>
  </div>
  <!--mono-->

  <!--duo-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/02/06.jpg" />
    </div>
    <div class="fullsize">
      <img src="../../src/projets/02/07.jpg" />
    </div>
  </div>
  <!--duo-->


  <!--footer-->
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <img class="logo-width" src="../../src/footer/logo.svg" />
    </div>
    <div style="flex-grow: 1">
      <h3 class="green">Contact</h3>
      <p>François Carrère</p>
      <p>06 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
  </div>
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <p>© carbonshape 2020</p>
    </div>
    <div style="flex-grow: 2">
      <p class="follow">Suivez carbonshape sur :</p>
    </div>
    <div style="flex-grow: 1">
      <a href="https://www.facebook.com/carbonshape/about/?ref=page_internal"><img style="margin-right: 10px;"
          src="../../src/footer/facebook.png" /></a>
      <a href="https://www.instagram.com/carbonshape666/?hl=fr"><img style="margin-right: 10px;"
          src="../../src/footer/instagram.png" /></a>
    </div>
  </div>
  <!--footer-->
  <script>
    let burger = document.getElementById('burger'),
      nav = document.getElementById('main-nav'),
      slowmo = document.getElementById('slowmo');

    burger.addEventListener('click', function (e) {
      this.classList.toggle('is-open');
      nav.classList.toggle('is-open');
    });

    slowmo.addEventListener('click', function (e) {
      this.classList.toggle('is-slowmo');
    });

    /* Onload demo - dirty timeout */
    let clickEvent = new Event('click');

    window.addEventListener('load', function (e) {
      slowmo.dispatchEvent(clickEvent);
      burger.dispatchEvent(clickEvent);

      setTimeout(function () {
        burger.dispatchEvent(clickEvent);

        setTimeout(function () {
          slowmo.dispatchEvent(clickEvent);
        }, 3500);
      }, 5500);
    });
  </script>
</body>

</html>