<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarbonShape - Ducati</title>
  <link rel="stylesheet" href="../../components/nav/nav.css" type="text/css">
  <link rel="stylesheet" href="../../components/footer/footer.css" type="text/css">
<link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <!--nav-->
  <div class="flex-nav">
    <div style="flex-grow: 8">
      <img class="logo-width" src="../../src/nav/logo.svg" />
    </div>
    <div style="flex-grow: 1">
      <h3 class="green">Contact</h3>
      <p>François Carrère</p>
      <p>06 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
  </div>

  <ul style="z-index: 2;" class="topnav navdisplay">
    <li class="cl-effect-4"><a href="#contact">Contact</a></li>
    <li class="cl-effect-4"><a href="../presseDetails.html">Presses</a></li>
    <li class="cl-effect-4"><a href="../projets.html">Réalisations</a></li>
    <li class="cl-effect-4"><a href="../propos.html">A propos</a></li>
    <li class="cl-effect-4"><a  href="../../index.html">Accueil</a></li>
  </ul>


  <!--photo_01-->
  <div class="flex-container">
    <div class="fullsize">
      <img class="zoom" src="../../src/projets/04/projet4.jpg" />
    </div>
  </div>
  <!--photo_01-->
  <!--introduction-->
  <div class="flex-container vertical small-height">
    <h1 class="small-padding center green">Ducati Diavel 1260 S</h1>
    <h2 class="small-padding center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
</div>
  <!--introduction-->

  <!--photo_02-->
  <div class="flex-container">
    <div class="padding fullsize">
      <h3 class="green">Sed ut perspiciatis</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      <h3 class="green">Lorem ipsum dolor</h3>
      <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h3 class="green">Nemo enim ipsam</h3>
      <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
      </p>
    </div>
    <div class="fullsize">
    <img src="../../src/projets/04/photo2.png" />
  </div>
  </div>
  <!--photo_02-->

  <!--photo_03-->
  <div class="flex-container">
    <div class="fullsize">
      <img  src="../../src/projets/04/photo3.png" />
    </div>
  </div>
  <!--photo_03-->

  <!--photo_04, 05-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo4.png" />
    </div>
    <div class="fullsize">
      <img src="../../src/projets/04/photo5.png" />
    </div>
  </div>
  <!--photo_04, 05-->

  <!--photo_06-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo6.png" />
    </div>
  </div>
  <!--photo_06-->

  <!--photo_07, 08-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo7.png" />
    </div>
    <div class="fullsize">
      <img src="../../src/projets/04/photo8.png" />
    </div>
  </div>
  <!--photo_07, 08-->

  <!--photo_09-->
  <div class="flex-container">
    <div class="fullsize">
      <img src="../../src/projets/04/photo9.png" />
    </div>
  </div>
  <!--photo_09-->

  <!--footer-->
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <img class="logo-width" src="../../src/footer/logo.svg" />
    </div>
    <div style="flex-grow: 1">
      <h3 class="green">Contact</h3>
      <p>François Carrère</p>
      <p>06 70 02 53 41</p>
      <p>carbonshape666@gmail.com</p>
    </div>
  </div>
  <div class="flex-footer">
    <div style="flex-grow: 8">
      <p>© carbonshape 2020</p>
    </div>
    <div style="flex-grow: 2">
      <p class="follow">Suivez carbonshape sur :</p>
    </div>
    <div style="flex-grow: 1">
      <a href="https://www.facebook.com/carbonshape/about/?ref=page_internal"><img style="margin-right: 10px;"src="../../src/footer/facebook.png" /></a>
      <a href="https://www.instagram.com/carbonshape666/?hl=fr"><img style="margin-right: 10px;" src="../../src/footer/instagram.png" /></a>
    </div>
  </div>
  <!--footer-->
</body>

</html>