@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}
.flex-nav {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #141614;
    box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
	-webkit-box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
	-moz-box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
  }
  
  .flex-nav > div {
    width: 100px;
    text-align: left;
    margin: 10px;
    padding: 70px;
    
  }

  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
	-webkit-box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ; 
	-moz-box-shadow: 0 21px 32px rgba(0, 0, 0, 0.9)  ;
    
  }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #0f1110;
    
  }
  
  ul.topnav li {float: right;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
  }


  li a {
    position: relative;
    display: inline-block;
  }
  
  li a:hover,
  li a:focus {
    outline: none;
  }
  .cl-effect-4 a {
    padding: 0 0 10px;
  }
  
  .cl-effect-4 a::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #6b6b3d;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  
  .cl-effect-4 a:hover::after,
  .cl-effect-4 a:focus::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  

  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .toggle{
      display: block;
    }
    .navdisplay{
      display:none;
    }
  }