<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>testimonial</title>
  <link rel="stylesheet" href="../../css/global.css" type="text/css">
</head>

<body>
  <div class="flex-container vertical small-height grey">
    <div>
      <h2 class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      </h2>
    </div>

    <div><img src="../../src/home/user.png"/></div>
    <div><p>Nemo enim ipsam</p></div>
  </div>
</body>

</html> 